<!DOCTYPE html>
<html lang='zh-cn'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title></title>

    <!-- Bootstrap -->
      <link href='/css/bootstrap.css' rel='stylesheet'>

    <!--[if lt IE 9]>
      <script src='../public/js/html5shiv.min.js'></script>
      <script src='../public/js/respond.min.js'></script>
    <![endif]-->
    <style>
      body{
        background-image: radial-gradient(#faf,#aff,#ffa,#feb,#bee,#ebe);
      }
      h1{ 
        background-image:-webkit-linear-gradient(top,red,blue);
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
      }
      .out-box{
        width: 800px;
        height: 600px;
        margin: 0 auto;
        padding: 0 50px;
      }
      .text-center h1{
        font-family: 楷体;
      }
      textarea{
        resize: none;
      }
      .msg{
        padding: 2px;
        width: 100%;
        height: 200px;
        margin: 5px;
        background-color:#E9FAFF;
        border-radius: 15px;
        padding:10px;
        overflow: hidden;
        position: relative;
      }
      .m-left{
        width: 75px;
        height: 75px;
        float: left;
        margin-right: 10px;
      }
      .title-user{
        width: 100px;
        height: 100px;
      }
      .title-user img{
        width: 100%;
      }
      .m-right{
        width: calc(100% - 85px);
        float: left;
      }

      .msg .title{
        line-height: 2em;
      }
      .msg .title .name{
        font-weight: bold;
        font-size: 1.5em;
        color: #337ab7;
      }
      .msg .title .time{
        float: right;
        color: #888;
      }
      .msg .con{
        overflow-y: auto;
        position: absolute;
        right: -17px;
        bottom: 35px;
        left: 95px;
        top: 35px;
      }
      .con:hover{
        right: 0;
      }
      .con pre{
        line-height: 1.5em;
        font-size: 1.2em;
        width: 560px;
        border: none;
        background-color: rgba(255,255,255,0);
        white-space: pre-wrap;
      }
      .avatar{
        border-radius: 50%;
        overflow: hidden;
      }
      .msg img{
        width: 100%;
      }
      .sep{
        border: 1px solid #bbb;
      }
      .operate{
        position: absolute;
        /* width: 560px; */
        bottom: 10px;
        left: 95px;
        right: 10px;
        border-top: 1px solid #bbb;
        padding-right: 20px;
      }
      .con textarea{
        width: 590px;
      }
    </style>
  </head>
  <body>
    <div class="out-box">
      <div class="text-center">
        <h1>班级内部论坛</h1>
      </div>
      <div class="text-right user-center">
        <a href="/user/center">个人中心</a>&nbsp;&nbsp;
        <a href="/user/logout">退出登录</a>
      </div>
      <div class="form-horizontal">
        <% for(var i=0;i<users.length;i++){ %>
          <% if(users[i].username==username){ %>
        <div class="form-group">
          <div class="col-xs-2 text-right">
            <div class="title-user avatar">
              <img src="<%= users[i].avatar %>" alt="">
            </div>
          </div>
          <div class="col-xs-8">
            <h2><%= users[i].nickname %></h2>
          </div>
        </div>
          <% } %>
        <% } %>
        <div class="form-group">
          <div class="col-xs-2 text-right">
            <label class="control-label">留言: </label>
          </div>
          <div class="col-xs-8">
            <textarea id="txt" class="form-control" rows="3" placeholder="发表留言,按Ctrl+Enter发送"></textarea>
          </div>
        </div>
      </div>
      <hr class="sep">
      <div class="text-center">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="<%= page==1?'disabled':'' %>">
              <span aria-hidden="true">&laquo;</span>
            </li>
            <% for(var i=1;i<=pages;i++){ %>
            <li class="<%= i==page?'active':'' %>">
              <span><%= i %></span>
            </li>
            <% } %>
            <li class="<%= page==pages?'disabled':'' %>">
              <span aria-hidden="true">&raquo;</span>
            </li>
          </ul>
        </nav>
      </div>
      <div class="msgs">
        <!-- 遍历服务器传递回来的数据 -->
        <% for(var i=0;i<msgs.length;i++){ %>
          <% for(var j=0;j<users.length;j++){ %>
            <% if(msgs[i].username==users[j].username){ %>
        <div class="msg">
          <div class="m-left">
            <div class="avatar">
              <img src="<%= users[j].avatar %>">
            </div>
          </div>
          <div class="m-right">
            <div class="title text-left">
              <span class="name"><%= users[j].nickname %></span>
              <span class="time"><%= msgs[i].time %></span>
            </div>
            <div class="con">
              <pre><%= msgs[i].message %></pre>
            </div>
            <% if(users[j].username==username){ %>
            <div class="operate text-right">
              <a href="javascript:;" onclick="del('<%= msgs[i]._id %>')">删除</a>
              &nbsp;&nbsp;&nbsp;
              <a href="javascript:;" onclick="update(this,'<%= msgs[i]._id %>')">修改</a>
            </div>
            <% } %>
          </div>
        </div>
            <% } %>
          <% } %>
        <% } %>
      </div>
    </div>


    <script src='/js/jquery.min.js'></script>
    <script src='/js/bootstrap.js'></script>
  </body>
  <script>
    var text = "";
    // 发送请求
    txt.addEventListener("keydown",function(){
      if(event.keyCode==13 && event.ctrlKey){
        $.ajax({
          url:"/message/tijiao",
          data: {
            message: this.value
          },
          success: function(r){
            // console.log(r);
            if(r.status==1){ // 留言失败
              alert(r.msg);
            }else{ // 留言成功,跳转到首页
              location.href = '/';
            }
            // 无论成功还是失败,都清空文本框中的内容
            txt.value = ""
          },
          error: function(e){
            alert("服务器响应失败");
          }
        })
      }
    });
    // 删除留言
    function del(id){
      // alert(id)
      var f = confirm("确定要删除留言吗?");
      // 点击确定,返回true,点击取消,返回false
      if(f){ // 返回值为true,说明点击了确定
        // 发送请求，删除数据
        $.ajax({
          url: "/message/del",
          data: {
            id: id
          },
          success: function(res){
            if(res.status==1){
              alert("删除失败,稍后再试");
              return ;
            }
            alert("删除成功");
            // 删除成功后,跳转到之前所在的页面
            // 原来在第几页删除后还是在第几页
            location.href = location.href;
          }
        })
      }
    }
    // 修改留言-1  点击修改,将留言的内容替换成文本域
    function update(ele, id){
      // console.log($(event.target).parent().prev().find("pre").text());
      var $con = $(ele).parent().prev();
      text = $con.find("pre").text();
      // 将con的内容替换成textare
      $t = $('<textarea class="form-control" rows="5" onblur="send(\''+id+'\')"></textarea>');// 创建jQuery对象
      // 设置textarea的placeholder属性(普通的写法无法换行)
      $t.attr("placeholder",text);
      // 将其放入页面
      $con.html($t[0]);
      // 自动聚焦
      $con.find("textarea").focus();
    }
    // 文本域失去焦点,发送请求
    function send(id){
      // 获取文本域中的值并去除首尾空白
      var val = event.target.value.trim();
      var f = confirm("确认修改留言?");
      var $con = $(event.target).parent();
      // 如果输入的是空字符串或点击取消
      if(val=="" || !f){ 
        // 将文本域替换为pre,还原成原来的样子
        $con.html('<pre>'+text+'</pre>');
        return;
      }
      // 不是空字符串并且点击了确定
      // 提交的数据: 修改留言的内容,id
      // console.log(event.target.value);
      // return;
      var message = event.target.value;
      $.ajax({
        url:"/message/update",
        data: {
          id: id,
          message: message
        },
        success: function(res){
          if(res.status==1){
            alert("修改失败");
            return;
          }
          // 修改成功
          // location.href = location.href;
          // 使用js修改页面
          // 把原来文本域的地方替换成修改后的内容
          $con.html('<pre>'+message+'</pre>');
        }
      })
    }
    // 给分页部分绑定单击事件
    $("ul.pagination").on("click",function(){
      var pageText = event.target.innerHTML;
      if(pageText=="«" || pageText=="»" || /(\d){1,}/.test(pageText)){
        // 获取当前页
        var currentPage = $("ul.pagination li.active span").html();
        // 点击的是当前页,不操作
        if(pageText==currentPage){return;}
        // 获取被禁用的上一页或下一页
        var disble = $("ul.pagination li.disabled span").html();
        if(pageText==disble){return;}
        // 跳转到指定页面
        // console.log(pageText);
        if(pageText=="«"){ // 上一页,当前页码-1
          pageText = currentPage-1;
        }
        if(pageText=="»"){ // 下一页,当前页码+1
          pageText = currentPage-0+1;
        }
        location.href = '/message/show?page='+pageText;
      }
    });
  </script>
  
</html>